deploy/n8n/workflows/event-rsvp.json
{
  "name": "AKCC — Event RSVP Confirmation",
  "nodes": [
    {
      "id": "aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa",
      "name": "On AKCC Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "parameters": {
        "httpMethod": "POST",
        "path": "akcc",
        "responseMode": "onReceived",
        "responseData": "noData",
        "options": {
          "includeHeaders": true
        }
      },
      "webhookId": "bbbbbbbb-bbbb-bbbb-bbbb-bbbbbbbbbbbb"
    },
    {
      "id": "cccccccc-cccc-cccc-cccc-cccccccccccc",
      "name": "Verify Signature + Extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const crypto = require('crypto');\n\nconst secret = $env.N8N_WEBHOOK_SECRET;\nif (!secret) throw new Error('N8N_WEBHOOK_SECRET env var is not set');\n\nconst raw = $input.first().json;\nconst body = raw.body ?? raw;\nconst headers = raw.headers ?? {};\n\nconst receivedSig = (headers['x-akcc-signature'] ?? '').toString();\nif (!receivedSig) throw new Error('Missing X-AKCC-Signature header');\n\nconst bodyStr = JSON.stringify(body);\nconst expectedSig = 'sha256=' + crypto\n  .createHmac('sha256', secret)\n  .update(bodyStr)\n  .digest('hex');\n\nconst a = Buffer.from(receivedSig);\nconst b = Buffer.from(expectedSig);\nif (a.length !== b.length || !crypto.timingSafeEqual(a, b)) {\n  throw new Error('Invalid signature — request rejected');\n}\n\nconst ts = new Date(body.timestamp);\nif (isNaN(ts.getTime()) || Math.abs(Date.now() - ts.getTime()) > 5 * 60 * 1000) {\n  throw new Error('Stale timestamp — possible replay attack');\n}\n\nif (body.event !== 'event.rsvp') {\n  throw new Error('Unexpected event: ' + body.event);\n}\n\nfunction escHtml(s) {\n  return String(s || '')\n    .replace(/&/g, '&amp;')\n    .replace(/</g, '&lt;')\n    .replace(/>/g, '&gt;')\n    .replace(/\"/g, '&quot;');\n}\n\nconst d = body.data;\nreturn [{\n  json: {\n    event: body.event,\n    email: d.userEmail,\n    eventTitleHtml: escHtml(d.eventTitle),\n    eventDateHtml: escHtml(new Date(d.eventDate).toLocaleString('en-AU', { weekday: 'long', day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit', timeZone: 'Australia/Melbourne' })),\n    guestCount: Number(d.guestCount) || 1,\n    emailHtml: escHtml(d.userEmail),\n  }\n}];"
      }
    },
    {
      "id": "dddddddd-dddd-dddd-dddd-dddddddddddd",
      "name": "Send RSVP Confirmation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{$env.RESEND_API_KEY}}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ from: $env.N8N_FROM_EMAIL, to: $json.email, subject: 'RSVP Confirmed — ' + $json.eventTitleHtml, html: '<table style=\"font-family:sans-serif;max-width:560px;margin:auto;padding:24px;background:#F2F7FB\"><tr><td style=\"background:#ffffff;border-radius:12px;padding:24px\"><h1 style=\"color:#2479C2;font-size:20px;margin:0 0 16px\">Your RSVP is confirmed!</h1><p style=\"color:#45596B;font-size:14px\">You are confirmed for:</p><div style=\"border-left:3px solid #2479C2;padding:8px 12px;margin:16px 0\"><p style=\"margin:0;font-weight:bold;color:#173A5E\">' + $json.eventTitleHtml + '</p><p style=\"margin:4px 0 0;font-size:13px;color:#45596B\">' + $json.eventDateHtml + '</p><p style=\"margin:4px 0 0;font-size:13px;color:#45596B\">Guests: ' + $json.guestCount + '</p></div><p style=\"font-size:13px;color:#8194A6\">If your plans change, you can update your RSVP from the events page.</p><hr style=\"border:none;border-top:1px solid #DCE7F0;margin:20px 0\"/><p style=\"font-size:11px;color:#8194A6;text-align:center\">Australian Kachin Christian Church</p></td></tr></table>' }) }}"
      }
    }
  ],
  "connections": {
    "On AKCC Webhook": {
      "main": [
        [{ "node": "Verify Signature + Extract", "type": "main", "index": 0 }]
      ]
    },
    "Verify Signature + Extract": {
      "main": [
        [{ "node": "Send RSVP Confirmation", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "notes": "Sends RSVP confirmation email when a member RSVPs 'attending' for an event. Requires: N8N_WEBHOOK_SECRET, RESEND_API_KEY, N8N_FROM_EMAIL in deploy/n8n/.env. Non-matching events (e.g. member.signup) throw and are discarded."
  }
}
